<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <!--file>/Users/sergey/projects/topjava15/topjava15/log/topjava.log</file-->

        <if condition='property("os.name").toLowerCase().startsWith("windows")'>
            <then>
                <!--file>${APPDATA}/MyApp/logs/MyApp.log</file-->
                <file>C:/Projects/topjava15/topjava/logs/MyApp.log</file>
            </then>
            <else>
                <if condition='property("os.name").toLowerCase().startsWith("mac")'>
                    <then>
                        <file>${user.home}/projects/topjava15/topjava15/log/topjava.log</file>
                    </then>
                    <else>
                        <file>${user.home}/topjava.log</file>
                    </else>
                </if>
            </else>
        </if>


        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.javawebinar.topjava" level="debug"/>

    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>
</configuration>
